#component {
    width: 100vw;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

button {
    padding: 5px 10px;
}

h3 {
    margin: 20px 10px;
    text-align: center;
}