.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.question-container {
    width: fit-content;
}

.question {
    border: black 2px solid;
    margin: 10px 0;
}

h3 {
    padding: 0 10px;
    display: inline-block;
}

p {
    padding: 10px
}

button {
    border: none;
    background-color: white;
    font-size: x-large;
}