body {
    margin-bottom: 10%;
    margin-top: 10%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

img {
    padding: 0;
    object-fit: none;
    object-position: 20% center;
    transition-property: width;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(.17,.67,.23,.96);
}